node_modules
.next
dist
out
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
.taskmaster/*

# Task files
# tasks.json
# tasks/ 
# Large image files
client/public/images/homeCard*.png
client/public/images/ourServicesBackground.png
client/public/images/footerBackground.png
docs/
*.png
